# Bytecode and cache files
*.py[cod]
__pycache__/

# Virtual environments
.venv/
env/
ENV/
env.bak/
venv.bak/
.poetry/

# Logs and debug files
*.log
*.out
*.err

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# Documentation
docs/_build/

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db
